body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
    color: #fff !important;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
}
