<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sepetim</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Sepetim</h1>
        <hr>
        {% if cart_items %}
        <div class="row">
            {% for item in cart_items %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ item.product.image_link }}" class="card-img-top" alt="{{ item.product.product_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.product.product_name }}</h5>
                        <p class="card-text">Fiyat: {{ item.product.price }} ₺</p>
                        <p class="card-text">Adet: {{ item.quantity }}</p>
                        <p class="card-text text-end">Ara Toplam: {{ item.subtotal }} ₺</p>
                        <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger btn-sm">Ürünü Kaldır</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-4">
            <h4 class="text-end">Toplam Fiyat: {{ total_price }} ₺</h4>
            <a href="{% url 'checkout' %}" class="btn btn-success btn-lg float-end">Ödeme Yap</a>
        </div>
    {% else %}
        <p class="text-center">Sepetinizde ürün bulunmamaktadır.</p>
    {% endif %}
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
